<!DOCTYPE html>
<html lang="en" class="nivo-lightbox-notouch" style="height: auto;" ng-app="freedge">
<head>
	
		<meta charset="UTF-8">

		<!-- METADATA -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- PAGE TITLE -->
		<title>DataCloak</title>

		<!-- FAVICON -->
		<link rel="icon" href="images/favicons/FAVICON.png">
		<link rel="apple-touch-icon" href="images/favicons/FAVICON.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/FAVICON.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/FAVICON.png">

		<!--
		=================================
		STYLESHEETS
		=================================
		-->

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- WEB FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>

		<!-- ICON FONTS -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/simple-line-icons.min.css">

		<!-- OTHER STYLES -->
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/nivo-lightbox.min.css">
		<link rel="stylesheet" href="css/nivo-lightbox/default.min.css">

		<!-- MAIN STYLES -->
		<link rel="stylesheet" href="css/style.css">

		<!-- COLORS -->
		<link id="color-css" rel="stylesheet" href="css/colors/green.css">

		<!-- JQUERY -->
		<script src="js/jquery-1.11.1.min.js"></script>

	</head>

	<body>
		

		<div id="document" class="document" ng-controller="homeController">

			<!--
			=================================
			HEADER
			=================================
			-->
			<header class="header-section navbar navbar-fixed-top navbar-default header-floating">
				<div class="container">

					<div class="navbar-header">

						<!-- RESPONSIVE MENU BUTTON -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- NAVBAR LOGO -->
						<a class="navbar-brand navbar-logo" href="#home"><img src="images/logos/navbar-logo.png" alt="Freedge"></a>
					</div>

					<div id="navigation" class="navbar-collapse collapse">
						
						<!-- NAVIGATION LINKS -->
						<ul class="nav navbar-nav navbar-right">
							<li class="current"><a href="#home">Accueil</a></li>
							<li><a href="#features">Fonctions</a></li>
							<li><a href="#team">L'équipe</a></li>
							<li><a href="//facebook.com/datacloak"><i class="fa fa-facebook hidden-xs"></i><span class="visible-xs">Facebook</span></a>
						</li><li><a href="//twitter.com/datacloak"><i class="fa fa-twitter hidden-xs"></i><span class="visible-xs">Twitter</span></a></li>

						</ul>
						

					</div>

				</div>
			</header>

			<!--
			=================================
			HERO SECTION
			=================================
			-->
			<section id="home" class="hero-section hero-layout-1 section section-inverse-color parallax-background" data-stellar-background-ratio="0.4" style="background-position: 50% 0%;">

				<!-- BACKGROUND OVERLAY -->
				<div class="black-background-overlay"></div>

				<div class="container">

					<div class="hero-content" data-stellar-offset-parent="true">

						<!-- HERO TEXT -->
						<div class="hero-text wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" >
							
							<!-- LOGO -->
							<h1><img src="images/logos/hero-logo.png" alt="EOS - App Landing Page Template" class="hero-logo">

							<!-- TAGLINE -->
							
							<h1 class="hero-title">L'identification et le paiement sans transmettre vos données personnelles.
</h1>

							<!-- HERO DESCRIPTION -->
							<div class="hero-description">
								
								<div class="form-validation alert"><!-- Validation Message here --></div>
								<div class="form-group subscribe-form-input">
									<input ng-model="email" type="email" name="EMAIL" id="subscribe-form-email" class="subscribe-form-email form-control form-control-lg" placeholder="Saisir votre adresse mail" autocomplete="off">
									<button class="subscribe-form-submit btn btn-black btn-lg btn-primary btn-open-modal" data-toggle="modal" data-target="#subscrible">Suivre</button>
								</div>
						</div>

						<!-- SOCIAL MEDIA LINKS -->
					<ul class="social-media-links hidden-xs">
						<li><a href="//facebook.com/datacloak"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
						</li><li><a href="//twitter.com/datacloak"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
						</li><li><a href="mailto:datacloakco@gmail.com"><i class="fa fa-envelope"></i><span class="sr-only">Email</span></a>
					</li></ul>

							<!-- DOWNLOAD BUTTONS -->
							<div class="download-buttons">
								<!-- APP STORE DOWNLOAD -->
								<a data-toggle="modal" data-target="#subscrible" ng-click="device = 'iOS'" class="btn btn-app-download">
									<img src="images/logos/ios.png"/>
								</a>
								<!-- PLAY STORE DOWNLOAD -->
								<a data-toggle="modal" data-target="#subscrible" ng-click="device = 'Android'" class="btn btn-app-download">
									<img src="images/logos/android.png"/>
								</a>
							</div>

						</div>

						<!-- HERO IMAGES -->
						<div class="hero-images wow layout3HeroPhone animated" data-wow-duration="1s" data-wow-delay="0.5s">
							<img src="images/contents/hero-phone-and-hand.png" class="hero-image parallax" alt="" data-stellar-ratio="0.7" style="top: auto;">
						</div>
						
					</div>

				</div>
			</section>

			<!--
			=================================
			FEATURES SECTION
			=================================
			-->
			<section id="features" class="features-section section">
				<div class="container">

					<!-- SECTION HEADING -->
					<h2 class="section-heading text-center wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">Comment ça marche?</h2>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
						</div>
					</div>

					<div class="featuers-list-wrapper row">

						<!-- FEATURES LEFT -->
						<div class="col-md-4 col-sm-6">
							<ul class="features-list features-list-left wow fadeInLeft" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
								<li class="features-list-item">
									<h5>Infos personnelles</h5>
									<p>Les informations personnelles sont votre propriété. DataCloack vous permet de vous identifier et de payer sans les transmettre à d'autre individus.
</p>
								</li>
								<li class="features-list-item">
									<h5>Paiement anonyme 
</h5>
									<p>Les solutions d'identification et de payement de DataCloak permettent de rendre vos opérations bancaires (CB et Bitcoin) intraçables par le destinataire.
</p>
								</li>
							</ul>
						</div>

						<!-- FEATURES RIGHT -->
						<div class="col-md-4 col-md-push-4 col-sm-6">
							<ul class="features-list features-list-right wow fadeInRight" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
								<li class="features-list-item">
									<h5>Identification simplifiée</h5>
									<p>Plus besoin de connaitre une multitude d'identifiants et de mots de passe. Un mot de passe unique  sécurisera vos données et vous donnera accès aux services tiers anonymement.
</p>
								</li>
								<li class="features-list-item">
									<h5>Sécurisé</h5>
									<p>L'ensemble de vos sessions sont stockées sur votre smartphone et sont cryptées par le mot de passe principal. Vos datas sont entre vos mains et personne n'est capable de les voler !
</p>
								</li>
							</ul>
						</div>

						<!-- CLOSE UP PHONE IMAGE -->
						<div class="col-md-4 col-md-pull-4 text-center">
							<img src="images/contents/features-phone.png" class="features-image wow fadeInUp" alt="" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
						</div>

					</div>

				</div>
			</section>


			<section class=" section" style="padding-top: 30px; padding-bottom: 30px;">
				<div class="container">

					<!-- SECTION HEADING -->
					<h2 class="section-heading text-center wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">Le pitch</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2"><div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S9M2LgZ-emc"></iframe>
</div></div>
					</div>

				</div>
			</section>

			
			<!--
			=================================
			VIDEO SECTION
			=================================
			-->
			<section id="team" class="video-section section section-inverse-color parallax-background" data-stellar-background-ratio="0.4" style="background-position: 50% 0%;">

				<!-- BACKGROUND OVERLAY -->
				<div class="black-background-overlay"></div>

				<div class="container">

					<h2 class="section-heading text-center wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">Notre équipe</h2>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">



							<div style="height :400px;"/>
						</div>
					</div>

				</div>
			</section>

			<!--
			=================================
			PRESS SECTION
			=================================
			-->
			<!--
			<section id="press" class="press-section section">
				<div class="container">

					<div class="press-logos wow fadeIn" data-wow-duration="1s">
						<h1>Ils nous suivent</h1>
					</div>

				</div>
			</section>

			<section id="testimonials" class="testimonials-section section section-inverse-color parallax-background" data-stellar-background-ratio="0.4" style="background-position: 50% 0%;">

				<div class="accent-background-overlay"></div>

				<div class="container">

					<div class="testimonials-carousel">
						<ul class="testimonial-items owl-carousel wow fadeIn owl-theme" data-wow-duration="1s" style="opacity: 1; display: block; visibility: hidden; -webkit-animation: none 1s;">
							<div class="owl-wrapper-outer autoHeight" style="height: 196px;"><div class="owl-wrapper" style="width: 7520px; left: 0px; display: block;"><div class="owl-item" style="width: 940px;"><li>
								<div class="testimonial-text">Je suis le premier client de <a href="//twitter.com/KalemeonCo/" style="color: white;">@KalemeonCo</a> by <a href="//twitter.com/MelodieFourez/" style="color: white;">@MelodieFourez</a> #swtours #tourstech !</div>
								<div class="testimonial-name"><a href="//twitter.com/mathurin_body" style="color: white;">@mathurin_body</a>, Fondateur des Pirates de Loire</div>
							</li></div></ul>
					</div>

				</div>
			</section>
			-->

						<section id="press" class="press-section section">
				<div class="container">

					<!-- LOGOS -->
					<div class="press-logos wow fadeIn" data-wow-duration="1s">
						<span><img src="images/contents/press-swnantes.png" alt="themeforest"></span>
					</div>

				</div>
			</section>

			

			<!--
			=================================
			SUBSCRIBE SECTION
			=================================
			-->
			<section id="subscribe" class="subscribe-section section section-inverse-color parallax-background" data-stellar-background-ratio="0.4" style="background-position: 50% 0%;">

				<!-- BACKGROUND OVERLAY -->
				<div class="black-background-overlay"></div>

				<div class="container">

					<!-- SECTION HEADING -->
					<h2 class="section-heading text-center wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">S'inscrire aux news DataCloak</h2>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">Donnez nous votre email pour vous avertir dès la disponibilité<br>de notre application sur iOs et Android.</p>
						</div>
					</div>

					<!-- SUBSCRIBE FORM -->
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-validation alert"><!-- Validation Message here --></div>
								<div class="form-group subscribe-form-input">
									<input ng-model="email" type="email" name="EMAIL" id="subscribe-form-email" class="subscribe-form-email form-control form-control-lg" placeholder="Saisir votre adresse mail" autocomplete="off">
									<button class="subscribe-form-submit btn btn-black btn-lg btn-primary btn-open-modal" data-toggle="modal" data-target="#subscrible">Suivre</button>
								</div>
						</div>
					</div>

				</div>
			</section>

			
			<!--
			=================================
			FOOTER SECTION
			=================================
			-->
			<footer class="footer-section section">

				<!-- CONTACT SECTION TOGGLE -->
				<a href="mailto:datacloakco@gmail.com" class="contact-toggle" ><i class="icon-envelope"></i></a>

				<div class="container">

					<!-- DOWNLOAD BUTTONS -->
					<p class="download-buttons wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
						<!-- APP STORE DOWNLOAD -->
								<a data-toggle="modal" data-target="#subscrible" ng-click="device = 'iOS'" class="btn btn-app-download">
									<img src="images/logos/ios.png"/>
								</a>
								<!-- PLAY STORE DOWNLOAD -->
								<a data-toggle="modal" data-target="#subscrible" ng-click="device = 'Android'" class="btn btn-app-download">
									<img src="images/logos/android.png"/>
								</a>
					</p>

					<!-- SOCIAL MEDIA LINKS -->
					<ul class="social-media-links wow fadeIn" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
						<li><a href="//facebook.com/datacloak"><i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
						</li><li><a href="//twitter.com/datacloak"><i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
						</li><li><a href="mailto:dataclockco@gmail.com"><i class="fa fa-envelope"></i><span class="sr-only">Email</span></a>
					</li></ul>

					<!-- COPYRIGHT -->
					<div class="copyright">Copyright 2014 © DataCloak</div>
				</div>
			</footer>



<!-- Modal -->
<div class="modal fade " id="subscrible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <!-- SECTION HEADING -->

							<h2 class="section-heading " >Nous suivre / Etre ßetatesteur</h2>
							<p>En replissant ce formulaire, vous recevrez les news de DataCloak.</p>

						
						
							<!-- FEATURES LIST WITH ICONS -->
							<div class="row" >
								<form action="//datacloak.us11.list-manage.com/subscribe/post?u=4577b711279d8b2c779e457fd&amp;id=99e772b16e" method="post" target="_blank" class="subscribe-form"  name="subscibleForm" role="form">
									<div class="row" >
										<div class="col-md-6">
											<div class="form-group form-group-lg" ng-class="{'has-error' : !subscibleForm.PRENOM.$valid}">
											<input type="text" name="PRENOM" id="lastname" class="form-control form-control-lg" placeholder="Saisir votre nom" required ng-model="lastname">
											<span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="subscibleForm.PRENOM.$valid"></span>
											<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="subscibleForm.PRENOM.$valid"></span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-group-lg" ng-class="{'has-error' : !subscibleForm.NOM.$valid}">
											<input type="text" name="NOM" id="firstname" class="form-control form-control-lg" placeholder="Saisir votre prénom" required ng-model="firstname">
											<span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="subscibleForm.NOM.$valid"></span>
											<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="subscibleForm.NOM.$valid"></span>
											</div>
										</div>
									</div>
									<div class="row" >
										<div class="col-md-12">
											<div class="form-group form-group-lg" ng-class="{'has-error' : !subscibleForm.EMAIL.$valid}">
											<input ng-model="email" type="email" name="EMAIL" id="email" class="form-control form-control-lg" placeholder="Saisir votre email" required ng-model="email">
											<span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="subscibleForm.EMAIL.$valid"></span>
											<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="subscibleForm.EMAIL.$valid"></span>
											</div>
										</div>
									</div>
									
<div class="row text-center">
	<p>Pour devenir ßetatesteur choisiez votre type d'appareil.</p>
    <div class="btn-group">
        <label class="btn btn-default" ng-class="{active: device == 'iOS'}">
        	<img src="images/iphone.png"/>
        	<p>iOS (iPhone)</p>
            <input type="radio" value="iOS" ng-model="device" name="APPAREIL" id="mce-APPAREIL-0">
        </label>
        <label class="btn btn-default" ng-class="{active: device == 'Android'}">
        	<img src="images/nexus.png"/>
        	<p>Android (4.0 et +)</p>
            <input type="radio" value="Android" ng-model="device" name="APPAREIL" id="mce-APPAREIL-1">
        </label>
    </div>
  </div>

								<center><input onclick="modalhide()" style="margin-top : 20px;" TYPE="submit" class="btn btn-black btn-lg btn-primary" VALUE="Suivre / Tester"/ ng-class="{'disabled' : !subscibleForm.$valid}"></center>
							</form>
							</div>
						</div>

      </div>
    </div>
  </div>
</div>




		</div>

		<!--
		=================================
		JAVASCRIPTS
		=================================
		-->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/retina.min.js"></script>
		<script src="js/smoothscroll.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.nav.min.js"></script>
		<script src="js/nivo-lightbox.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/script.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-61238601-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript">
			function modalhide(){
				$('#subscrible').modal('hide');
			}
		</script>
		<script type="text/javascript">
			var app = angular.module('freedge', []);
			app.controller('homeController', ['$scope', function($scope) {

			}]);
		</script>

	

<div style="clear: both;"></div>


</body></html>